<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>goodtohear.habits_habits</key>
	<array>
		<dict>
			<key>active</key>
			<true/>
			<key>time_to_do</key>
			<string></string>
			<key>days_checked</key>
			<dict>
				<key>2013-12-21</key>
				<true/>
				<key>2013-12-19</key>
				<string></string>
				<key>2013-12-18</key>
				<string></string>
				<key>2013-12-20</key>
				<string></string>
				<key>2013-12-16</key>
				<string></string>
				<key>2013-12-17</key>
				<string></string>
				<key>2013-12-03</key>
				<string></string>
				<key>2013-12-02</key>
				<string></string>
				<key>2013-12-23</key>
				<true/>
			</dict>
			<key>order</key>
			<integer>24</integer>
			<key>created_at</key>
			<date>2014-08-21T16:49:44Z</date>
			<key>longest_chain</key>
			<integer>5</integer>
			<key>title</key>
			<string>Floss</string>
			<key>days_required</key>
			<array>
				<true/>
				<true/>
				<true/>
				<true/>
				<true/>
				<true/>
				<true/>
			</array>
			<key>color_index</key>
			<integer>1</integer>
			<key>minute_to_do</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>active</key>
			<true/>
			<key>time_to_do</key>
			<string></string>
			<key>days_checked</key>
			<dict>
				<key>2013-12-21</key>
				<true/>
			</dict>
			<key>order</key>
			<integer>24</integer>
			<key>created_at</key>
			<date>2014-08-21T16:49:44Z</date>
			<key>longest_chain</key>
			<integer>5</integer>
			<key>title</key>
			<string>Esercizio</string>
			<key>days_required</key>
			<array>
				<true/>
				<true/>
				<true/>
				<true/>
				<true/>
				<true/>
				<true/>
			</array>
			<key>color_index</key>
			<integer>2</integer>
			<key>minute_to_do</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>active</key>
			<true/>
			<key>time_to_do</key>
			<string></string>
			<key>days_checked</key>
			<dict>
				<key>2013-12-21</key>
				<true/>
				<key>2013-12-20</key>
				<string></string>
				<key>2013-12-19</key>
				<string></string>
				<key>2013-12-18</key>
				<string></string>
				<key>2013-12-17</key>
				<string></string>
				<key>2013-12-16</key>
				<string></string>
				<key>2013-12-11</key>
				<string></string>
				<key>2013-12-10</key>
				<string></string>
				<key>2013-12-03</key>
				<string></string>
				<key>2013-12-02</key>
				<string></string>
			</dict>
			<key>order</key>
			<integer>24</integer>
			<key>created_at</key>
			<date>2014-08-21T16:49:44Z</date>
			<key>longest_chain</key>
			<integer>5</integer>
			<key>title</key>
			<string>Suona la tromba</string>
			<key>days_required</key>
			<array>
				<true/>
				<false/>
				<false/>
				<false/>
				<false/>
				<false/>
				<false/>
			</array>
			<key>color_index</key>
			<integer>3</integer>
			<key>minute_to_do</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>active</key>
			<true/>
			<key>time_to_do</key>
			<string></string>
			<key>days_checked</key>
			<dict>
				<key>2013-12-21</key>
				<true/>
				<key>2013-12-24</key>
				<true/>
			</dict>
			<key>order</key>
			<integer>24</integer>
			<key>created_at</key>
			<date>2014-08-21T16:49:44Z</date>
			<key>longest_chain</key>
			<integer>5</integer>
			<key>title</key>
			<string>Vitamine</string>
			<key>days_required</key>
			<array>
				<false/>
				<false/>
				<true/>
				<false/>
				<false/>
				<false/>
				<false/>
			</array>
			<key>color_index</key>
			<integer>4</integer>
			<key>minute_to_do</key>
			<integer>0</integer>
		</dict>
	</array>
</dict>
</plist>
